h1{
    padding: 5px 0px;
    color: #388087;
    margin: 0 auto;
    text-decoration: none;
}

body{
    background-color: #f6f6f2;
}

li {
    margin: 10px;
    text-align: center;
    list-style: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    padding: 10px;
    display: inline-block;
    margin-bottom: 50px;
    width: 700px;
}

.follow {
    font-size: 13px;
    background-color: #badfe7;
    border-radius: 10px;
    padding: 5px 10px;
}

.profile {
    height: 60px;
    width: 700px;
    display: inline-block;
}

.name {
    font-size: large;
    float: left;
}

.username{
    text-decoration: none;
    color: #388087;
}

.circle{
    float: left;
    width: 30px;
    height: 30px;
    background-color: #badfe7;
    border-radius: 50%;
    margin-right: 10px;
}

footer {
    border-radius: 10px;
    border-top: solid;
    background-color: #388087;
    padding: 15px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.manu {
    color: white;
    text-decoration: none;
   padding: 5px;
}

.like {
    font-size: 13px;
    background-color: #badfe7;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0px 10px;
}

.singlepost {
    text-decoration: none;
    color: black;
}

.singlediv{
    margin: 10px;
    text-align: center;
    list-style: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    padding: 10px;
    display: inline-block;
    margin-bottom: 50px;
    max-width: 700px;
}

.create {
    position: fixed;
    right: 0;
    left: 90%;
    bottom: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #badfe7;
    font-size: 30px;
}


.allusers{
    float: left;
    height: 1600px;
}

.selection{
    margin-top: 10px;
    float: right;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.suggetions{
    margin-bottom: 20px;
}

.suggetionuser{
    padding: 5px;
}

.postbutton{
    font-size: 13px;
    background-color: #badfe7;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 20px;
}